# Byte-compiled / optimized / DLL files

data/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local development settings
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# Local development database
*.db
*.sqlite3

# TensorFlow specific
*.ckpt
*.pb
*.pbtxt
checkpoint
events.out.tfevents.*
graph.pbtxt
model.ckpt.*
saved_model/
tensorboard/


